/* ==================================================================== 메인 시작 */
main {}
/* ==================================================================== 메인 배너 */
main #main_bnr {width: 100%; height: 700px; margin: 0 auto 120px; position: relative; overflow: hidden;}
/* ==================================================================== 메인 배너 스와이퍼 + 공통 */
main #main_bnr .main_swiper {width: 100%; max-width: 1860px; height: 100%; overflow: visible;}
main #main_bnr .main_swiper .swiper-wrapper {}
main #main_bnr .main_swiper .swiper-wrapper .swiper-slide {
    background-size: cover; background-position: center; border-radius: 20px;
}
main #main_bnr .main_swiper .swiper-wrapper .swiper-slide .contents {}
/* ==================================================================== 메인 배너 스와이퍼 + 개별 */
main #main_bnr .main_swiper .swiper-wrapper .slide1 {background-image: url(../images/main_slide_001.jpg);}
main #main_bnr .main_swiper .swiper-wrapper .slide2 {background-image: url(../images/main_slide_002.jpg);}
main #main_bnr .main_swiper .swiper-wrapper .slide3 {background-image: url(../images/main_slide_003.jpg);}
main #main_bnr .main_swiper .swiper-wrapper .slide4 {background-image: url(../images/main_slide_002.jpg);}
/* ==================================================================== 메인 배너 제어 */
main #main_bnr .progress_btn {position: absolute; bottom: 35px; left: 50%; transform: translateX(-50%); z-index: 10; display: flex; justify-content: center; align-items: center;}
main #main_bnr .progress_btn > * {margin-right: 10px;}
main #main_bnr .progress_btn > *:last-child {margin: 0;}
main #main_bnr .progress_btn .swiper_current {font-size: 0.94rem; letter-spacing: -0.02em; transform: translateY(-1px);}
main #main_bnr .progress_btn .swiper-scrollbar {
    width: 300px; height: 2px; background: #fff; position: relative; left: 0; top: 0;
}
main #main_bnr .progress_btn .swiper-scrollbar-drag {background: #000;}
main #main_bnr .progress_btn .swiper_total {font-size: 0.94rem; letter-spacing: -0.02em; transform: translateY(-1px);}
main #main_bnr .progress_btn button {width: 15px; height: 15px;}
main #main_bnr .progress_btn button img {width: 100%;}
main #main_bnr .progress_btn .prev {transform: scaleX(-1);}
main #main_bnr .progress_btn .next {}
/* ==================================================================== container 공통 */
main .container {max-width: 1860px; width: 100%; margin: 0 auto 120px; padding: 0 80px;}
main .container h1 {font-size: 2rem; font-weight: 500; letter-spacing: -0.02em; margin-bottom: 30px; text-align: center;}
main .container .like {display: inline-block; width: 15px; height: 15px;}
main .container .like img {width: 100%;}
main .container .itm_name {font-size: 0.94rem; letter-spacing: -0.02em; overflow: hidden; text-wrap: nowrap; text-overflow: ellipsis;}
main .container .price_wrap {display: flex;}
main .container .price_wrap em {margin-right: 10px; color: #EB3831;}
main .container .price_wrap strong {margin-right: 10px;}
main .container .price_wrap em,
main .container .price_wrap strong {font-size: 0.94rem; font-weight: 600; letter-spacing: -0.02em;}
main .container .price_wrap span {color: #999; font-size: 0.94rem; letter-spacing: -0.02em; text-decoration: line-through;}
main .container .view_more {position: absolute; right: 0; width: 20px; height: 20px;}
main .container .view_more img {width: 100%;}
/* ==================================================================== RANK100 시작 */
main #rank100_ctnr {display: flex;}
/* ==================================================================== RANK100 (왼) + 공통 */
main #rank100_ctnr .rank_contents {max-width: 500px; width: 29.4%; margin-right: 30px;}
main #rank100_ctnr .rank_contents h1 {margin-bottom: 20px; text-align: left;}
main #rank100_ctnr .rank_contents .rank100 {}
main #rank100_ctnr .rank_contents .rank100 a {border-bottom: 1px solid #ccc; display: block;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap {padding: 24px 0; display: flex; justify-content: space-between;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_l {}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_l em {font-size: 0.94rem; font-weight: 600; letter-spacing: -0.02em;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_l span {margin: 0 20px; font-size: 0.94rem; letter-spacing: -0.02em;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_r {display: flex; align-items: center;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_r span {margin-right: 10px; font-size: 0.75rem; letter-spacing: -0.02em;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_r span.rank_up {color: #EB3831;}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_r span.rank_down {}
main #rank100_ctnr .rank_contents .rank100 a .txt_wrap .txt_r img {width: 15px;}
main #rank100_ctnr .rank_contents .rank100 a .img_wrap {padding-bottom: 0; display: flex; height: 0;}
main #rank100_ctnr .rank_contents .rank100 a .img_wrap img {max-width: 160px; width: calc((100% - 20px) / 3); max-height: 160px;}
main #rank100_ctnr .rank_contents .rank100 a .img_wrap img:nth-of-type(2) {margin: 0 10px;}
/* ==================================================================== RANK100 (왼) 활성화 */
main #rank100_ctnr .rank_contents .rank100 a.active {} /* 활성화active 순위  */
main #rank100_ctnr .rank_contents .rank100 a.active .txt_wrap .txt_l em {font-size: 1.13rem;} /* 활성화active 순위  */
main #rank100_ctnr .rank_contents .rank100 a.active .txt_wrap .txt_l span {font-size: 1.13rem;} /* 활성화active 순위  */
main #rank100_ctnr .rank_contents .rank100 a.active .img_wrap {padding-bottom: 24px; height: 100%;}
main #rank100_ctnr .rank_contents .rank100 a.active .img_wrap img {}
/* ==================================================================== RANK100 (오) */
/* ==================================================================== 대표상품 */
main #rank100_ctnr .itm_contents {max-width: 1170px; width: 68.8%; display: flex; justify-content: space-between;}
main #rank100_ctnr .itm_contents .itm_l {
    width: 30.7%; height: 100%; position: relative;
}
main #rank100_ctnr .itm_contents .itm_l .like {
    position: absolute; top: 30px; right: 30px; z-index: 10; opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_l .like img {}
main #rank100_ctnr .itm_contents .itm_l .itm_info {
    width: 100%; height: 100%; margin-right: 10px; padding: 0 30px 50px 30px;
    position: relative; display: flex; flex-flow: column; justify-content: end;
    background: url(../images/rank_l.jpg) no-repeat center; background-size: cover;
}
main #rank100_ctnr .itm_contents .itm_l .itm_info::before {
    content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(transparent, rgba(255,255,255,0.5));
    position: absolute; left: 0; top: 0; opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_l .itm_info .itm_name {
    width: 100%; margin-bottom: 10px;; z-index: 10;
    opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_l .itm_info .price_wrap {z-index: 10; opacity: 0; transition: opacity 0.3s;}
main #rank100_ctnr .itm_contents .itm_l .itm_info .price_wrap em {}
main #rank100_ctnr .itm_contents .itm_l .itm_info .price_wrap strong {}
main #rank100_ctnr .itm_contents .itm_l .itm_info .price_wrap span {}
/* hover 애니메이션 */
main #rank100_ctnr .itm_contents .itm_l:hover .like,
main #rank100_ctnr .itm_contents .itm_l .itm_info:hover::before,
main #rank100_ctnr .itm_contents .itm_l .itm_info:hover .itm_name,
main #rank100_ctnr .itm_contents .itm_l .itm_info:hover .price_wrap {opacity: 1;}
/* ==================================================================== 보조상품 + 공통 */
main #rank100_ctnr .itm_contents .itm_r {
    max-width: 800px; width: 68.3%; display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between;
}
main #rank100_ctnr .itm_contents .itm_r li {width: calc((100% - 20px) / 3); height: calc((100% - 10px) / 2); position: relative;}
main #rank100_ctnr .itm_contents .itm_r li .like {
    position: absolute; top: 30px; right: 30px; z-index: 10; opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_r li .like img {}
main #rank100_ctnr .itm_contents .itm_r li .itm_info {
    width: 100%; height: 100%; padding: 0 30px 30px 30px;
    position: relative; display: flex; flex-flow: column; justify-content: end;
    background: no-repeat center; background-size: cover;
}
main #rank100_ctnr .itm_contents .itm_r li .itm_info::before {
    content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(transparent, rgba(255,255,255,0.5));
    position: absolute; left: 0; top: 0; opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_r li .itm_info .itm_name {
    width: 100%; margin-bottom: 10px; z-index: 10;
    opacity: 0; transition: opacity 0.3s;
}
main #rank100_ctnr .itm_contents .itm_r li .itm_info .price_wrap {z-index: 10; opacity: 0; transition: opacity 0.3s;}
main #rank100_ctnr .itm_contents .itm_r li .itm_info .price_wrap em {}
main #rank100_ctnr .itm_contents .itm_r li .itm_info .price_wrap strong {}
main #rank100_ctnr .itm_contents .itm_r li .itm_info .price_wrap span {}
/* hover 애니메이션 */
main #rank100_ctnr .itm_contents .itm_r li:hover .like,
main #rank100_ctnr .itm_contents .itm_r li .itm_info:hover::before,
main #rank100_ctnr .itm_contents .itm_r li .itm_info:hover .itm_name,
main #rank100_ctnr .itm_contents .itm_r li .itm_info:hover .price_wrap {opacity: 1;}
/* ==================================================================== 보조상품 개별 */
main #rank100_ctnr .itm_contents .itm_r li:nth-of-type(1) .itm_info {background-image: url(../images/rank_r_001.jpg);}
main #rank100_ctnr .itm_contents .itm_r li:nth-of-type(2) .itm_info {background-image: url(../images/rank_r_002.jpg);}
main #rank100_ctnr .itm_contents .itm_r li:nth-of-type(3) .itm_info {background-image: url(../images/rank_r_003.jpg);}
main #rank100_ctnr .itm_contents .itm_r li:nth-of-type(4) .itm_info {background-image: url(../images/rank_r_004.jpg);}
main #rank100_ctnr .itm_contents .itm_r li:nth-of-type(5) .itm_info {background-image: url(../images/rank_r_005.jpg);}
/* ==================================================================== 보조상품 버튼박스 */
main #rank100_ctnr .itm_contents .itm_r li.btn_box {}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a {
    width: 100%; height: 100%; padding: 30px 30px 30px 20px; background-color: #284F37; border-bottom-right-radius: 60px;
    display: flex; flex-flow: column nowrap; justify-content: space-between;
}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a .txt {}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a .txt p {font-size: 1.25rem; font-weight: 500; color: #fff; margin-bottom: 10px;}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a .txt p:last-child {margin-bottom: 10px;}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a .txt span {display: block; font-size: 0.94rem; letter-spacing: -0.02em; color: #fff;}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a .txt span:nth-of-type(1) {margin-bottom: 6px;}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a > p {width: 15px; height: 15px; text-align: right; align-self: flex-end;}
main #rank100_ctnr .itm_contents .itm_r li.btn_box a > p img {width: 100%;}
/* ==================================================================== 이벤트 */
main #event1_ctnr {display: flex; justify-content: center;}
main #event1_ctnr a {max-width: 450px; max-height: 300px;}
main #event1_ctnr a:nth-of-type(2) {margin: 0 10px;}
main #event1_ctnr a img {width: 100%;}
/* ==================================================================== MD + NEW 공통 */
main .container .itm_wrap {
    display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between;
}
main .container .itm_wrap > li {height: max-content; display: flex; flex-flow: column nowrap;}
main .container .itm_wrap > li:first-child {margin-bottom: 30px;}
main .container .itm_wrap > li > a {width: 100%; height: 100%; position: relative; margin-bottom: 12px;}
main .container .itm_wrap > li > a .itm_img {max-width: 300px; max-height: 300px; margin: 0 auto;}
main .container .itm_wrap > li > a .itm_img img {width: 100%;}
main .container .itm_wrap > li > a .color_wrap {display: flex; position: absolute; left: 20px; bottom: 20px; opacity: 0; transition: opacity 0.3s;}
main .container .itm_wrap > li > a:hover .color_wrap {opacity: 1;}
main .container .itm_wrap > li > a .color_wrap span {width: 15px; height: 15px; display: inline-block; margin-right: 4px;}
main .container .itm_wrap > li > a .color_wrap span:last-child {margin: 0;}
main .container .itm_wrap > li .itm_info {display: flex; flex-flow: column;}
main .container .itm_wrap > li .itm_info > * {margin-bottom: 12px;}
main .container .itm_wrap > li .itm_info .tag_like_wrap {display: flex; justify-content: space-between; align-items: center;}
main .container .itm_wrap > li .itm_info .tag_like_wrap .tags {display: flex;}
main .container .itm_wrap > li .itm_info .tag_like_wrap .tags li {
    padding: 5px 6px; color: #284F37; border: 1px solid #284F37; border-radius: 6px; margin-right: 6px;
    font-size: 0.56rem; font-weight: 600; letter-spacing: -0.02em; line-height: 9px;
}
main .container .itm_wrap > li .itm_info .tag_like_wrap .tags .delivery {background-color: #284F37; color: #fff;}
main .container .itm_wrap > li .itm_info .tag_like_wrap .tags .best {}
main .container .itm_wrap > li .itm_info .tag_like_wrap .tags .present {}
main .container .itm_wrap > li .itm_info .more_info {display: flex; margin: 0;}
main .container .itm_wrap > li .itm_info .more_info .selling_num {margin-right: 10px;}
main .container .itm_wrap > li .itm_info .more_info .selling_num img {}
main .container .itm_wrap > li .itm_info .more_info .review_num {}
main .container .itm_wrap > li .itm_info .more_info .review_num img {transform: translateY(1px);}
main .container .itm_wrap > li .itm_info .more_info .selling_num,
main .container .itm_wrap > li .itm_info .more_info .review_num {display: flex; align-items: center;}
main .container .itm_wrap > li .itm_info .more_info .selling_num img,
main .container .itm_wrap > li .itm_info .more_info .review_num img {width: 13px; height: 13px; margin-right: 6px;}
main .container .itm_wrap > li .itm_info .more_info .selling_num span,
main .container .itm_wrap > li .itm_info .more_info .review_num span {font-size: 0.75rem; letter-spacing: -0.02em;}
/* ==================================================================== MD */
main #md_ctnr {}
main #md_ctnr h1 {}
main #md_ctnr .cate_more {position: relative; max-width: 1620px; margin: 0 auto 30px;}
main #md_ctnr .cate_more .category {display: flex; justify-content: center;}
main #md_ctnr .cate_more .category a {
    padding: 6px 10px 8px; margin-right: 20px;
    border-radius: 6px; color: #999; font-size: 1.06rem; letter-spacing: -0.02em;
}
main #md_ctnr .cate_more .category a:last-child {margin: 0;}
main #md_ctnr .cate_more .category a.active {color: #fff; background-color: #000;}
main #md_ctnr .cate_more .view_more {top: 5px;}
main #md_ctnr .cate_more .view_more img {}
main #md_ctnr .itm_bnr_contents {display: flex; justify-content: center;}
main #md_ctnr .itm_bnr_contents .itm_wrap {max-width: 960px; width: 59.2%; margin-right: 30px;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li {width: calc((100% - 60px) / 3);}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .itm_img {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .itm_img img {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:last-child {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info > * {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .tags {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .tags li {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .tags .delivery {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .tags .best {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .tags .present {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .like {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .tag_like_wrap .like img {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .itm_name {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .price_wrap {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .price_wrap em {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .price_wrap strong {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .price_wrap span {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .more_info {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .selling_num {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .selling_num img {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .selling_num span {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .review_num {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .review_num img {}
main #md_ctnr .itm_bnr_contents .itm_wrap > li .itm_info .more_info .review_num span {}
main #md_ctnr .itm_bnr_contents .md_bnr_wrap {
    max-width: 630px; width: 38.8%; padding: 50px 50px 60px; display: flex; flex-flow: column nowrap; justify-content: flex-end;
    background-image: url(../images/md_bnr.jpg); background-size: cover; background-position: center;
}
main #md_ctnr .itm_bnr_contents .md_bnr_wrap p {max-width: max-content; padding: 4px 20px 6px 10px; font-size: 1.50rem; font-weight: 500; letter-spacing: -0.02em; color: #fff; background-color: #284F37;}
main #md_ctnr .itm_bnr_contents .md_bnr_wrap p:first-child {margin-bottom: 10px;}
main #md_ctnr .itm_bnr_contents .md_bnr_wrap p em {font-size: 2rem; font-weight: 500; letter-spacing: -0.02em;}
/* ==================================================================== MD 컬러칩 개별 */
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(1) {background: linear-gradient(30deg, rgba(0, 0, 0, 0.1), #fff);}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(2) {background-color: #F5D96E;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(3) {background-color: #F1D9DC;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(4) {background-color: #1C1C1C;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(5) {background-color: #D9C9A0;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(6) {background-color: #3F4A59;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(7) {background-color: #58843B;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(8) {background-color: #EE693F;}
main #md_ctnr .itm_bnr_contents .itm_wrap > li > a .color_wrap span:nth-of-type(9) {background-color: #8B654F;}
/* ==================================================================== NEW */
main #new_ctnr {}
main #new_ctnr .title_more {position: relative; max-width: 1620px; margin: 0 auto;}
main #new_ctnr .title_more h1 {}
main #new_ctnr .title_more .view_more {top: 6px;}
main #new_ctnr .title_more .view_more img {}
main #new_ctnr .itm_wrap {max-width: 1620px; margin: 0 auto;}
main #new_ctnr .itm_wrap > li {width: calc((100% - 120px) / 5);}
main #new_ctnr .itm_wrap > li > a {}
main #new_ctnr .itm_wrap > li > a .itm_img {}
main #new_ctnr .itm_wrap > li > a .itm_img img {}
main #new_ctnr .itm_wrap > li > a .color_wrap {}
main #new_ctnr .itm_wrap > li > a .color_wrap span {}
main #new_ctnr .itm_wrap > li .itm_info {}
main #new_ctnr .itm_wrap > li .itm_info .tag_like_wrap {}
main #new_ctnr .itm_wrap > li .itm_info .tag_like_wrap .tags {}
main #new_ctnr .itm_wrap > li .itm_info .tag_like_wrap .tags .delivery {}
main #new_ctnr .itm_wrap > li .itm_info .tag_like_wrap .tags .best {}
main #new_ctnr .itm_wrap > li .itm_info .like {}
main #new_ctnr .itm_wrap > li .itm_info p {}
main #new_ctnr .itm_wrap > li .itm_info .price_wrap {}
main #new_ctnr .itm_wrap > li .itm_info .price_wrap strong {}
main #new_ctnr .itm_wrap > li .itm_info .price_wrap span {}
main #new_ctnr .itm_wrap > li .itm_info .more_info {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .selling_num {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .selling_num img {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .selling_num span {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .review_num {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .review_num img {}
main #new_ctnr .itm_wrap > li .itm_info .more_info .review_num span {}
/* ==================================================================== MD 컬러칩 개별 */
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(1) {background: linear-gradient(30deg, rgba(0, 0, 0, 0.1), #fff);}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(2) {background-color: #F5D96E;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(3) {background-color: #F1D9DC;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(4) {background-color: #1C1C1C;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(5) {background-color: #D9C9A0;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(6) {background-color: #3F4A59;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(7) {background-color: #58843B;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(8) {background-color: #EE693F;}
main #new_ctnr .itm_wrap > li > a .color_wrap span:nth-of-type(9) {background-color: #8B654F;}
/* ==================================================================== EVENT2 */
main #event2_ctnr {display: block; padding: 60px 80px;}
main #event2_ctnr img {width: 100%;}
/* ==================================================================== ROOM */
main #room_ctnr {overflow: hidden; max-width: 100%;}
main #room_ctnr .title_more {}
main #room_ctnr .title_more h1 {}
main #room_ctnr .title_more .view_more {}
main #room_ctnr .title_more .view_more img {}
main #room_ctnr .room_swiper {max-width: 1300px; width: 100%; height: 700px; overflow: visible;}
main #room_ctnr .room_swiper .swiper-wrapper {}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide {border-radius: 12px; overflow: hidden;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide::before {content: ''; display: block; width: 100%; height: 100%; background: linear-gradient(transparent 50%, rgba(0,0,0,0.5));}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .room_more_btn {
    position: absolute; left: 50%; top: 50%; transition: all 0.3s; 
    background-color: rgba(255,255,255,0.25); border-radius: 50%; box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .room_more_btn:hover {background-color: #fff;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .room_more_btn img {width: 26px; height: 26px;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .room_more_btn:hover img {filter:invert(0.4);}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents {
    width: 100%; padding: 0 50px 50px 100px; position: absolute; left: 0; bottom: 0;
    display: flex; justify-content: space-between; align-items: center;
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt {}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt dl {margin-bottom: 30px;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt dd {
    margin-bottom: 10px; font-size: 0.94rem; font-weight: 600; letter-spacing: -0.02em; color: #fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt dt {
    font-size: 1.25rem; font-weight: 500; color: #fff; text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt .hashtag {display: flex; flex-flow: row wrap; align-items: flex-start; width: 75%;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt .hashtag li {padding: 8px 16px 10px; margin-right: 10px; border-radius: 16.5px; background-color: rgba(255,255,255,0.2); color: #fff;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_txt .hashtag li:first-child {margin-bottom: 10px;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm {display: flex;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li {width: 200px;height: 200px; margin-right: 10px; position: relative; border-radius: 12px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); overflow: hidden;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li:nth-of-type(1) {background-image: url(../images/room_1_001.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li:nth-of-type(2) {background-image: url(../images/room_1_002.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li:nth-of-type(3) {margin: 0; background-image: url(../images/room_1_003.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .like {
    display: inline-block; position: absolute; right: 20px; top: 20px; opacity: 0; transition: opacity 0.3s; 
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li:hover .like {opacity: 1;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .like img {}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .itm_info {
    width: 100%; height: 100%; padding: 20px; display: flex; flex-flow: column nowrap; justify-content: flex-end; opacity: 0;
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.5)); transition: opacity 0.3s;
}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li:hover .itm_info {opacity: 1;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .itm_info p {color: #fff;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .itm_info .itm_name {margin-bottom: 10px;}
main #room_ctnr .room_swiper .swiper-wrapper .swiper-slide .contents .slide_sub_itm li .itm_info .itm_price {font-size: 0.94rem; font-weight: 600; letter-spacing: -0.02em;}
main #room_ctnr .room_swiper .swiper-button-next {color: #fff; right: -80px;}
main #room_ctnr .room_swiper .swiper-button-prev {color: #fff; left: -80px;}
/* ==================================================================== ROOM 개별 */
main #room_ctnr .room_swiper .swiper-wrapper .slide1 {background-image: url(../images/room_001.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .slide2 {background-image: url(../images/room_002.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .slide3 {background-image: url(../images/room_003.jpg);}
main #room_ctnr .room_swiper .swiper-wrapper .slide1 .room_more_btn {left: 60.5%; top: 40%;}
/* ==================================================================== OURB */
main #ourb_ctnr {margin-bottom: 150px;}
main #ourb_ctnr h1 {margin-bottom: 12px;}
main #ourb_ctnr .subtitle_more {max-width: 1260px; margin: 0 auto; position: relative; text-align: center; margin-bottom: 30px;}
main #ourb_ctnr .subtitle_more p {font-size: 1.06rem; letter-spacing: -0.02em; color: #999;}
main #ourb_ctnr .subtitle_more .view_more {top: -1px;}
main #ourb_ctnr .our_contents {max-width: 1260px; width: 100%; display: flex; justify-content: space-between; margin: 0 auto;}
main #ourb_ctnr .our_contents li {width: calc((100% - 60px) / 4);}
main #ourb_ctnr .our_contents li .li_top {border-bottom: 4px dotted #999; margin-bottom: 20px;}
main #ourb_ctnr .our_contents li .li_top .user_img {max-width: 300px; max-height: 300px;}
main #ourb_ctnr .our_contents li .li_top .user_img img {width: 100%;}
main #ourb_ctnr .our_contents li .li_top .user_txt {display: flex; flex-flow: column nowrap; margin: 20px 0;}
main #ourb_ctnr .our_contents li .li_top .user_txt img {width: 99px; height: 15px;}
main #ourb_ctnr .our_contents li .li_top .user_txt em {margin: 20px 0; font-size: 0.94rem; font-weight: 600; letter-spacing: -0.02em;}
main #ourb_ctnr .our_contents li .li_top .user_txt span {
    width: 100%; height: 40px; color: #999; font-size: 0.88rem; letter-spacing: -0.02em; line-height: 1.4;
    text-overflow: ellipsis; overflow: hidden;
}
main #ourb_ctnr .our_contents li .li_btm {display: flex; justify-content: space-between;}
main #ourb_ctnr .our_contents li .li_btm a.user_item {display: flex; flex-flow: row nowrap; align-items: center;}
main #ourb_ctnr .our_contents li .li_btm a.user_item .itm_img {max-width: 60px; max-height: 60px; border-radius: 12px; overflow: hidden; margin-right: 30px;}
main #ourb_ctnr .our_contents li .li_btm a.user_item .itm_img img {width: 100%;}
main #ourb_ctnr .our_contents li .li_btm a.user_item .itm_info {}
main #ourb_ctnr .our_contents li .li_btm a.user_item .itm_info .itm_name {max-width: 142px; font-weight: 600; margin-bottom: 12px;}
main #ourb_ctnr .our_contents li .li_btm a.user_item .itm_info .itm_price {font-size: 0.94rem; letter-spacing: -0.02em;}
main #ourb_ctnr .our_contents li .li_btm .like {margin-top: 9px;}
main #ourb_ctnr .our_contents li .li_btm .like img {}
